/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "General Sans", "General Sans Placeholder", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fafafa;
}

/*------------------------------------------------------------ Hover Effect ------------------------------------------------------------*/
/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #bb6100;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }


/*------------------------------------------------------------ Nav bar ------------------------------------------------------------*/
header {
    background-color: #FF7D29;
    color: #fff;
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo:hover {
    width: 110px;
    height: 80px;
    margin-right: 20px;
    filter: drop-shadow(1px 1px 1px #FFBF78);
}
.logo {
    width: 110px;
    height: 80px;
    margin-right: 20px;
    filter: drop-shadow(1px 1px 1px #610303f0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin-right: 220px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

nav li {
    margin-right: 60px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.get-started {
    margin-left: auto;
    background-color: #ffffff;
    color: #ff8800;
    padding: 15px 40px;
    margin-right: 60px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    font-size: 18px;
}

.get-started:hover {
    background-color: #ff8800;
    color: white;
    border: 2px solid white;
}
/*------------------------------------------------------------ Nav bar End------------------------------------------------------------*/

/*------------------------------------------------------------ Hero Section ------------------------------------------------------------*/
main {
    display: block;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: auto;
    background-color: #fafafa;
   
}
.hero {
    background-color: #fafafa;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    display: flex;
    align-items: flex-start; /* Align items to the start */
    justify-content: center;
}
.container {
    width: 80%;
    margin-top: 0px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.header {
    text-align: center;
    margin-bottom: 50px;
    display: block;
}

.contact-title {
    background-color: #FF7D29;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.header h1 {
    font-size:4rem;
    color:#FF7D29;
    margin-bottom: 20px;
}
.header h1 span {
    font-size:4rem;
    color:#FFBF78;
    margin-bottom: 20px;
}

.header p {
    font-size: 1.2em;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}
.about-img {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.about-img img {
    width: 75%;
    border-radius:50px; 
}

/*Responsive style*/
/* Tablet screens */
@media (max-width: 1080px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .header h1 {
        font-size: 3rem;
    }

    .header h1 span {
        font-size: 3rem;
    }

    .header p {
        font-size: 1em;
        max-width: 90%;
    }

    .about-img img {
        width: 85%;
        margin: 0 auto;
    }
}

/* Mobile screens */
@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .header h1 span {
        font-size: 2.5rem;
    }

    .header p {
        font-size: 0.9em;
        max-width: 95%;
        margin-top: 20px; /* Add some margin-top to create space between the image and text */
    }

    .about-img img {
        width: 90%;
        margin: 0 auto;
    }

    .contact-title {
        font-size: 1em;
        padding: 8px 15px;
    }
}


/*-----------------------------------------------------------STATISTICS SECTION--------------------------------------------------------*/
.statistics {
    background-color: #fafafa;
    text-align: center;
    padding: 60px 0;
    width: 100%;
}

.statistics .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-item {
    display: inline-block;
    margin: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    box-sizing: border-box;
}

.stat-item h2 {
    font-size: 2.5em;
    color: #FF7D29;
    margin: 0;
}

.stat-item p {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0 0;
}

.separator-vertical {
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.3) 49.9103%, rgba(51, 51, 51, 0) 100%);
    width: 1px;
    height: 80px;
    margin: 0 10px;
}

/* Tablet screens */
@media (max-width: 1080px) {
    .statistics .container {
        flex-direction: column;
        align-items: stretch;
    }

    .stat-item {
        width: 80%;
        margin: 10px auto;
    }

    .separator-vertical {
        width: 100%;
        height: 1px;
        margin: 20px 0;
    }
}

/* Mobile screens */
@media (max-width:480px) {
    .stat-item {
        width: 95%;
        margin: 10px auto;
        padding: 15px;
    }

    .stat-item h2 {
        font-size: 2em;
    }

    .stat-item p {
        font-size: 1em;
    }

    .separator-vertical {
        width: 100%;
        height: 1px;
        margin: 15px 0;
    }
}

/*-----------------------------------------------------------MISSION SECTION-----------------------------------------------------------  */
.mission {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #fafafa;
    margin: 20px auto;
    max-width: 90%;
    position: relative;
}

.mission-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.mission-content {
    flex: 1;
    min-width: 300px;
    z-index: 1; /* Ensure the text content is above the background */
}

.mission-content h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.mission-content p {
    color: #555;
    font-size: 1.1em;
    line-height: 1.6;
}

.mission-image {
    flex: 1;
    margin-top: 20px;
    min-width: 270px;
    text-align: center;
    position: relative;
}

.mission-img {
    position: relative;
    z-index: 2; /* Ensure the image is above the background */
}

.mission-img img {
    max-width: 100%;
    border-radius: 15px;
}

.mission-image::before {
    content: '';
    position: absolute;
    top: -30px; 
    left: -30px; 
    right: 100px; 
    bottom: -30px; 
    background: url('/assets/images/about-bg.jpg') no-repeat center center/cover;
    z-index: 1;
    border-radius: 15px;
    animation: fade-right 1s ease-out forwards; /* Animation properties */
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Tablet screens */
@media (max-width: 1080px) {
    .mission {
        padding: 40px 15px;
    }

    .mission-container {
        gap: 30px;
    }
    .mission-content {
        flex: 100%;
        min-width: auto;
        text-align: center;
    }
    .mission-content h2 {
        font-size: 1.8em;
    }

    .mission-content p {
        font-size: 1em;
    }

    .mission-image {
        min-width: 100%;
        text-align: center;
    }
    .mission-image::before {
        top: -15px;
        left: -15px;
        right: 50px;
        bottom: -15px;
    }
}

/* Mobile screens */
@media (max-width:480px) {
    .mission {
        padding: 30px 10px;
    }

    .mission-container {
        flex-direction: column;
        gap: 20px;
    }

    .mission-content {
        min-width: 100%;
        min-width: auto;
        text-align: center;
    }

    .mission-content h2 {
        font-size: 1.5em;
    }

    .mission-content p {
        font-size: 0.9em;
    }

    .mission-image {
        min-width: 100%;
    }

    .mission-img img {
        max-width: 100%;
        border-radius: 10px;
    }
    .mission-image::before {
        top: -7px;
        left: -7px;
        right: 20px;
        bottom: -7px;
    }
}

/*------------------------------------------------------------CTA SECTION--------------------------------------------------------------   */
/* CTA Section Styles */
.cta {
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    background-color:#FFBF78; /* Adjusted background color */
    max-width: 70%;
    margin: 50px auto;
    border-radius: 15px;
    /*background-image: url('C:/Users/bhojr/OneDrive/Desktop/KaVaaVi/assets/images/bg.png');*/
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(169, 137, 21, 0.717);
    animation: zoom-in 0.6s ease-in; /* Apply zoom-in animation */
}

.cta h2 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #000000; /* Adjust text color to stand out on the background */
    line-height: 1.5;
}

.cta p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #1b1a1a86; /* Adjust text color to stand out on the background */
    line-height: 1.5;
}

.cta button {
    padding: 15px 30px;
    border: none;
    background-color: #FF7D29;
    color: white;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta button:hover {
    background-color: #ffffff; /* Lighten button color on hover */
    color: #050505; /* Change text color on hover */
}

/* Zoom-in animation */
@keyframes zoom-in {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .cta {
        max-width: 90%;
        padding: 40px;
    }

    .cta h2 {
        font-size: 1.5em;
    }

    .cta p {
        font-size: 1em;
    }

    .cta button {
        padding: 12px 25px;
        font-size: 0.9em;
    }
}

@media (max-width: 468px) {
    .cta {
        max-width: 95%;
        padding: 30px;
    }

    .cta h2 {
        font-size: 1.2em;
    }

    .cta p {
        font-size: 0.9em;
    }

    .cta button {
        padding: 10px 20px;
        font-size: 0.8em;
    }
}


/*------------------------------------------------------------CHOOSE-US SECTION-------------------------------------------*/
.why-choose-us {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #fafafa;
    margin: 20px auto;
    max-width:90%;
    overflow: hidden;

}

.choose-section {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.wcs-content {
    flex: 1;
    padding: 20px;
}

.wcs {
    background-color: #da9f1f;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
}
.header-wcs {
    font-size:2.7rem;
    color:#FF7D29;
    margin-bottom: 20px;
}

.features {
    margin-top: 20px; /* Adjust spacing */
}

.feature-item {
    background-color: #fafafa;
    padding: 20px;
    margin-bottom: 20px; /* Adjust spacing */
    border-radius: 10px;
    border: 2px solid #da9f1f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.feature-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.feature-item::before {
    content: attr(data-number);
    position: absolute;
    top:42px;
    left: -30px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #da9f1f;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #da9f1f;
}

.feature-item:hover::before {
    opacity: 1;
}

.feature-item h3 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.feature-item:hover h3 {
    color: #da9f1f;
}

.feature-item p {
    color: #555;
    font-size: 1em;
    line-height: 1.4;
    transition: color 0.3s ease;
}

.feature-item:hover p {
    color: #333;
}
.wcs-image {
    width: 50%; 
    margin-top:50px;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
    z-index: 1;
}
.wcs-image::before {
    content: '';
    position: absolute;
    top: -30px; 
    left: 120px; 
    right: -30px; 
    bottom: -30px; 
    background: url('/assets/images/about-bg.jpg') no-repeat center center/cover;
    z-index:-1;
    border-radius: 15px;
    animation: fade-right 1s ease-out forwards; /* Animation properties */
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.wcs-image img {
    max-width: 100%;
    height:105vh; 
    border-radius: 15px;
}

@media (min-width: 1081px) {
    .wcs-image {
        width: 50%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 15px;
        z-index: 1;
    }

    .wcs-image::before {
        content: '';
        position: absolute;
        top: -30px;
        left: 120px;
        right: -30px;
        bottom: -30px;
        background: url('/assets/images/about-bg.jpg') no-repeat center center/cover;
        z-index: -1;
        border-radius: 15px;
        animation: fade-right 1s ease-out forwards;
    }

    .wcs-image img {
        max-width: 100%;
        height: 105vh;
        border-radius: 15px;
    }
}

/* Tablet screens */
@media (max-width: 1080px) {
    .why-choose-us {
        flex-direction: column;
        padding: 40px 15px;
    }

    .choose-section {
        flex-direction: column;
        align-items: center;
    }

    .wcs-content {
        padding: 20px 10px;
    }

    .header-wcs {
        font-size: 2.2rem;
    }

    .wcs-image {
        width: 80%;
        margin-top: 20px;
    }

    .wcs-image img {
        height: auto;
    }
}

/* Mobile screens */
@media (max-width:480px) {
    .why-choose-us {
        padding: 30px 10px;
    }

    .choose-section {
        flex-direction: column;
        align-items: center;
    }

    .wcs-content {
        padding: 15px 10px;
    }

    .header-wcs {
        font-size: 1.8rem;
    }

    .wcs-image {
        width: 100%;
        margin-top: 30px;
    }

    .wcs-image img {
        height: auto;
    }
    .wcs-image::before {
        left: 30px; /* Adjust background position for smaller screens */
        right: -30px;
    } 

    .feature-item::before {
        top: 20px;
        left: -20px;
        width: 30px;
        height: 30px;
        font-size: 1em;
    }

    .feature-item {
        padding: 15px;
        margin-bottom: 15px;
    }

    .feature-item h3 {
        font-size: 1.1em;
    }

    .feature-item p {
        font-size: 0.9em;
    }
}


/*-------------------------------------------------------------OUR-TEAM---------------------------------------------------------*/
.main1 {
    display: block;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: auto;
    background-color: #ffce96;
   
}
.our-team {

    padding: 50px 20px;
    background-color: #ffce96;
    margin: 20px auto;
    max-width:90%;
    overflow: hidden;
}

.team-member {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-team {
    text-align: center;
    margin-bottom: 50px;
    display: block;
}

.team-title {
    background-color: #FF7D29;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.header-team h1 {
    font-size:3rem;
    color:#FF7D29;
    margin-bottom: 20px;
}

.member-info {
    flex: 1 0 450px;
    margin: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.separator-horizontal {
    background: linear-gradient(90deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.3) 49.9103%, rgba(51, 51, 51, 0) 100%);
    height: 2px;
    width: 100%;
    margin: 40px;

}

.member-icons {
    margin-top: 10px;
    border: #555;
}

.member-icons a {
    margin: 0 5px;
    color: #555;
    font-size: 1.2em;
    transition: color 0.3s, background-color 0.3s;
    border: 2px solid #da9f1f;
    border-radius: 50%; 
    padding: 10px; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;  
    height: 40px; 
}

.member-icons a:hover {
    color: #da9f1f;  
}
.member-info img {
    max-width: 100%;
    margin-bottom: 15px;
}

.member-details h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.member-details p {
    color: #555;
    font-size: 1em;
    font-style: italic;
}

/* Tablet screens */
@media (max-width: 1080px) {
    .our-team {
        padding: 40px 15px;
    }

    .header-team h1 {
        font-size: 2.5rem;
    }

    .team-member {
        flex-direction: column;
        align-items: center;
    }

    .member-info {
        flex: 1 0 80%;
        margin: 15px 0;
    }

    .separator-horizontal {
        margin: 30px 0;
    }
}

/* Mobile screens */
@media (max-width:480px) {
    .our-team {
        padding: 30px 10px;
    }

    .header-team h1 {
        font-size: 2rem;
    }

    .team-member {
        flex-direction: column;
        align-items: center;
    }

    .member-info {
        flex: 1 0 100%;
        margin: 10px 0;
        padding: 15px;
    }

    .separator-horizontal {
        margin: 20px 0;
    }

    .member-details h3 {
        font-size: 1.3em;
    }

    .member-details p {
        font-size: 0.9em;
    }

    .member-icons a {
        font-size: 1em;
        width: 35px;
        height: 35px;
        padding: 8px;
    }
}

/*-------------------------------------------------------------FOOTER-SECTION------------------------------------------------------------  */
footer {
    background-color: #FF7D29;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-column {
    flex: 1;
    margin: 20px;
    min-width: 250px;
}

.footer-logo:hover {
    width: 110px;
    height: 80px;
    margin-right: 20px;
    filter: drop-shadow(1px 1px 1px #FFBF78);
}
.footer-logo{
    width: 110px;
    height: 80px;
    margin-right: 20px;
    filter: drop-shadow(1px 1px 1px #610303f0);
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-social-icons a {
    margin: 0 10px;
}

.footer-social-icons img {
    width: 24px;
    height: 24px;
    z-index: 1;
    filter: drop-shadow(2px 2px 1px #000000f0);
}

/* Responsive Styles */
@media (max-width: 1080px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        margin-bottom: 20px;
        text-align: center;
    }
}



/*----------------------------------------------------------- Responsive Styles -----------------------------------------------------------*/
@media (max-width:1080px) {
    .nav-menu {
        display: none;
        flex-direction: column;
    }
    .nav-toggle {
        display: block;
        background-color: #333;
        color: #fff;
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .nav-toggle:hover {
        background-color: #444;
    }
    .nav-menu.active {
        display: block;
        position: absolute;
        top: 100%;
        left: 0px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .nav-menu.active li {
        margin-right: 0px;

    }
    .nav-menu.active a {
        color: #fff;
    }
    .get-started {
        display: none;
    }
    nav {
        position: relative;
    }
    .kavavi {
        font-size: 4rem;
    }
    .kavavi-container h3{
        margin-left: 10%;
        margin-right: 10%;
    }
    .button-container {
        flex-direction: column; 
        align-items: center; 
        padding: 10px 20px;
        gap: 10px;
    }
    .goto-get-started, .hero-contact-button {
        width: 100%; 
    }

}
@media (max-width: 1076px) {
    nav ul {
        margin-right: 10px;
    }
    .kavavi-positions{
        display: none;
    }
    .kavavi-container {
        position: relative;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url(/assets/images/bg.png);
        background-position: center;
    }
    .hero {
        height: 62vh;
    }
    
}


@media (max-width: 768px) {
    main {
        padding: 1em;
    }
    section {
        margin-bottom: 10px;
    }
    footer {
        padding: 0.5em;
    }
    footer ul {
        flex-direction: column;
    }
    footer li {
        margin-right: 0;
    }
}