body {
    font-family: "General Sans", "General Sans Placeholder", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    box-sizing: border-box;
}

/*------------------------------------------------------------ Nav bar ------------------------------------------------------------*/
header {
    background-color: #FF7D29;
    color: #fff;
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo:hover {
    width: 110px;
    height: 80px;
    margin-right: 20px;
    filter: drop-shadow(1px 1px 1px #ffffff);
}
.logo {
    width: 110px;
    height: 80px;
    margin-right: 20px;
    filter: drop-shadow(1px 1px 1px #610303f0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin-right: 220px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

nav li {
    margin-right: 60px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.get-started {
    margin-left: auto;
    background-color: #ffffff;
    color: #ff8800;
    padding: 15px 40px;
    margin-right: 60px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    font-size: 18px;
}

.get-started:hover {
    background-color: #ff8800;
    color: white;
    border: 2px solid white;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
    }
    .nav-toggle {
        display: block;
        background-color: #333;
        color: #fff;
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .nav-toggle:hover {
        background-color: #444;
    }
    .nav-menu.active {
        display: block;
        position: absolute;
        top: 100%;
        left: 0px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .nav-menu.active li {
        margin-right: 0px;

    }
    .nav-menu.active a {
        color: #fff;
    }
    .get-started {
        display: none;
    }
    nav {
        position: relative;
    }
}
/*------------------------------------------------------------ Nav bar End------------------------------------------------------------*/

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.contact-title {
    background-color: #ff7d29;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 52px;
    color:#FF7D29;
    margin: 0;
}

.header h1 span {
    color:#FFBF78;
}

.header p {
    font-size: 1.2em;
    color: #555;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.contact-item {
    text-align: center;
    flex: 1;
    padding: 0 20px;
    position: relative;
}

.contact-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.contact-item p {
    margin: 5px 0;
    color: #333;
}

.contact-item a {
    color: #0033cc;
    text-decoration: none;
    margin: 0 5px;
}

.contact-item a:hover {
    text-decoration: underline;
}

.separator-vertical {
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.3) 49.9103%, rgba(51, 51, 51, 0) 100%);
    width: 1px;
    height: 100px;
}

.separator-horizontal {
    background: linear-gradient(90deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.3) 49.9103%, rgba(51, 51, 51, 0) 100%);
    height: 2px;
    width: 100%;
    margin: 40px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
    }

    .contact-item {
        padding: 20px 0;
    }

    .separator-vertical {
        display: none;
        width: 2px;
    }

    .separator-horizontal {
        display: block;
        margin: 40px;
        margin-left: 0;
        
    }
}

@media (max-width: 468px) {
    .contact-info {
        flex-direction: column;
    }

    .contact-item {
        padding: 15px 0;
    }

    .separator-horizontal {
        display: block;
        margin-left: 0;
        
    }
}

/*contact form */
.contact-form {
    text-align: center;
}

.contact-form input, .contact-form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.contact-form button {
    padding: 15px 30px;
    border: none;
    background-color: #ff7d29;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;
    width: 80%;
    font-weight: bold;

}

/* FAQ Section Styles */
.faq {
    margin-top: 50px;
    text-align: center;
}

.faq-title {
    background-color: #ff7d29;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 25px;
    
}

.faq h3 {
    font-size: 18px;
    color: white; /* White text color */
    
}

.faq-header h1 {
    font-size: 32px;
    color:#FF7D29;
    margin: 10px;
}

.faq-details {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.faq-details details {
    margin-bottom: 10px;
}

.faq-details summary {
    font-size: 1.2em;
    cursor: pointer;
    padding: 15px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 5px 0;
}

.faq-details summary:hover {
    background-color: #e0e0e0;
}

.faq-details summary .symbol {
    font-size: 1.5em;
    transition: transform 0.3s;
}

.faq-details details[open] summary .symbol {
    transform: rotate(45deg); /* Rotate to form an 'X' */
}

.faq-details p {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    margin: 0;
    border-radius: 0 0 5px 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .faq-details {
        width: 90%;
    }
}

@media (max-width: 468px) {
    .faq-details {
        width: 95%;
    }

    .faq h2 {
        font-size: 1.5em;
    }

    .faq-details summary {
        font-size: 1em;
    }

    .faq-details summary .symbol {
        font-size: 1.2em;
    }
}


/* CTA Section Styles */
.cta {
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    background-color:#FFBF78; /* Adjusted background color */
    max-width: 70%;
    margin: 50px auto;
    border-radius: 15px;
    /*background-image: url('C:/Users/bhojr/OneDrive/Desktop/KaVaaVi/assets/images/bg.png');*/
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(169, 137, 21, 0.717);
    animation: zoom-in 0.6s ease-in; /* Apply zoom-in animation */
}

.cta h2 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #000000; /* Adjust text color to stand out on the background */
    line-height: 1.5;
}

.cta p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #1b1a1a86; /* Adjust text color to stand out on the background */
    line-height: 1.5;
}

.cta button {
    padding: 15px 30px;
    border: none;
    background-color: #FF7D29;
    color: white;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta button:hover {
    background-color: #ffffff; /* Lighten button color on hover */
    color: #050505; /* Change text color on hover */
}

/* Zoom-in animation */
@keyframes zoom-in {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .cta {
        max-width: 90%;
        padding: 40px;
    }

    .cta h2 {
        font-size: 1.5em;
    }

    .cta p {
        font-size: 1em;
    }

    .cta button {
        padding: 12px 25px;
        font-size: 0.9em;
    }
}

@media (max-width: 468px) {
    .cta {
        max-width: 95%;
        padding: 30px;
    }

    .cta h2 {
        font-size: 1.2em;
    }

    .cta p {
        font-size: 0.9em;
    }

    .cta button {
        padding: 10px 20px;
        font-size: 0.8em;
    }
}


/* footer start  */
footer {
    background-color: #FF7D29;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-column {
    flex: 1;
    margin: 20px;
    min-width: 250px;
}

.footer-logo:hover {
    width: 110px;
    height: 80px;
    margin-right: 20px;
    filter: drop-shadow(1px 1px 1px #ffffff);
}
.footer-logo{
    width: 110px;
    height: 80px;
    margin-right: 20px;
    filter: drop-shadow(1px 1px 1px #610303f0);
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-social-icons a {
    margin: 0 10px;
}

.footer-social-icons img {
    width: 24px;
    height: 24px;
    z-index: 1;
    filter: drop-shadow(2px 2px 1px #fffffff0);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        margin-bottom: 20px;
        text-align: center;
    }
}


